<div class="mjs-iframe">
    <figure class="embed-content" style="padding-bottom: {{getRatio width height}};">
        <iframe src="{{url}}" frameborder="0" allowfullscreen></iframe>
    </figure>
    <span class="caption">
        {{#if caption}}{{caption}}{{/if}}
        {{#if caption}}{{credit}}<span class="credit">{{credit}}</span>{{/if}}
    </span>
</div>
